fastapi
uvicorn
crewai>=0.75.0
crewai[tools]>=0.75.0
langchain>=0.1.7
langchain-openai
langchain-huggingface>=0.0.10
sentence-transformers>=2.6.0
huggingface-hub>=0.20.0
pypdf
python-multipart
litellm
apscheduler
fastapi-sso
pyyaml
chromadb