fastapi
uvicorn

crewai>=0.70.0
crewai[tools]>=0.70.0

pydantic>=2.5.0

langchain-openai>=0.1.7
litellm>=1.40.0

sentence-transformers>=2.6.0
huggingface-hub>=0.20.0
chromadb>=0.4.24

pypdf
python-multipart
apscheduler
fastapi-sso
pyyaml